{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "no-unused-vars": "warn",
    "react/prefer-stateless-function": "off",
    "no-useless-constructor": "off",
    "react/no-unescaped-entities": "warn",
    "react/prop-types": "warn",
    "import/no-extraneous-dependencies": "off",
    "react/react-in-jsx-scope": "warn",
    "react/jsx-filename-extension": "off",
    "global-require": "warn",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "no-unused-expressions": ["warn", { "allowShortCircuit": true }],
    "space-before-function-paren": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
